/*
 * colors
 */

$text-color: grey(15);
$theme-hue: 194;
$link-color: hsl($theme-hue, 75, 45);  // similar to skeleton default

@function grey($n) {
  @return hsl(0, 0, $n);
}

/*
 * media queries
 */

// skeleton default widths for media queries
$device-width: (
  mobile: 400px,
  phablet: 550px,
  tablet: 750px,
  desktop: 1000px,
  desktop-hd: 1200px,
);

@mixin larger-than($device) {
  @media (min-width: map-get($device-width, $device)) {
    @content;
  }
}

@mixin if-grid-enabled {
  @include larger-than('phablet') {
    @content;
  }
}
