{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="style.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400|Lora:italic">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-NJXGk7R+8gWGBdutmr+/d6XDokLwQhF1U3VA7FhvBDlOq7cNdI69z7NQdnXxcF7k" crossorigin="anonymous">
{% endblock %}

{% block body %}
  <main role="main" class="container center">
    <img src="img/photo.jpg" alt="{{ name }}" id="photo">
    <h1>{{ title }}</h1>
    <h2>Data&nbsp;scientist&ensp;+&ensp;Computational&nbsp;physicist</h2>

    <p class="emph">
      I build and optimize models.<br>
      I design and implement effective solutions to complex problems.
    </p>

    <p>
    {% for text, icon, key in [
      ('Resume', 'file-pdf', 'resume'),
      ('Scientific papers', 'file-alt', 'papers'),
      ('Presentations', 'presentation', 'talks'),
    ] %}
      <a href="{{ extlinks[key] }}" class="button">
        <i class="fal fa-{{ icon }} button-icon"></i>
        <span class="button-text">{{ text }}</span>
        {# <i class="far fa-external-link"></i> #}
      </a>
      {% if loop.first %}
        <br>
      {% endif %}
    {% endfor %}
    </p>
  </main>

  <footer class="center">
    {% for icon, type, url in [
      ('envelope', 's', 'mailto:'~'jonah.bernhard@gmail.com'|obfuscate),
      ('github', 'b', 'https://github.com/jbernhard'),
      ('linkedin-in', 'b', 'https://www.linkedin.com/in/jbernhard'),
    ] %}
    <a href="{{ url }}" class="circle-link">
      <span class="fa-stack fa-lg">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa{{ type }} fa-{{ icon }} fa-stack-1x text-color-bg"></i>
      </span>
    </a>
    {% endfor %}
  </footer>
{% endblock %}
